################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuSolve/obj
/SudokuSolve/bin/Debug/net6.0
/SudokuUI/obj/Debug
/node_modules/.bin
/node_modules
/.vs/SudokuSolve/FileContentIndex
